{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home-page' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="{% url 'product-list' %}">Shop</a>
                <span class="breadcrumb-item active">Shop Detail</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner bg-light">

                    {% for image_obj in images %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active {% endif %}">
                        <img width="500px" height="500px" src="{{ image_obj.image.url }}" alt="Image">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30">
                <h3>{{ product.title }}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">{{ product.rating }}</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">{{ product.price }} UZS</h3>
                <p class="mb-4">{{ product.short_desc_uz }}</p>

                <form method="POST" action="{% url 'add_cart' product.pk %}">
                    {% csrf_token %}
                    {% for feature in features %}
                    <div class="d-flex mb-3">
                        <strong class="text-dark mr-3">{{ feature.name }}</strong>
                        {% for value_obj in feature.featurevalue_set.all %}
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" {% if forloop.counter == 1 %}checked {% endif %}
                                   class="custom-control-input" id="{{ value_obj.pk }}" value="{{ value_obj.pk }}"
                                   name="feature_{{ feature.pk }}">
                            <label class="custom-control-label" for="{{ value_obj.pk }}">{{ value_obj.value }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" name="counts"
                                       class="form-control bg-secondary border-0 text-center" value="1">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <a href="{% url 'shop_cart' %}"><button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To
                                Cart
                            </button></a>
                        </div>
                        <div class="d-flex pt-2">
                            <strong class="text-dark mr-2">Share on:</strong>
                            <div class="d-inline-flex">
                                <a class="text-dark px-2" href="https://www.facebook.com">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="text-dark px-2" href="https://www.twitter.com">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </form>
            </div>

        </div>

    </div>
    <div class="row px-xl-5">
        <div class="col">

            <div class="bg-light p-30">

                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews {{
                        product.comment_set.count }}</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                        <p>{{ product.long_desc_uz }}</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                {% for comment in product.comment_set.all %}
                                <div class="media mb-4">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqJGGuTGcD6NgRL6PD7BcLfxg_QFDFLtC8f-3HiKV4VpYLesWYpvhWVauXJg&s"
                                         alt="Image" class="img-fluid mr-3 mt-1"
                                         style="width: 45px;">
                                    <div class="media-body">
                                        <h6>{{ comment.name }}<small> - <i>{{ comment.created_at }}</i></small></h6>
                                        <div class="text-primary mb-2">

                                            <i class="fas fa-star"></i>
                                            ({{ comment.rating }})
                                        </div>
                                        <p>{{ comment.message }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-12">
                                    <nav aria-label="Comment pagination">
                                        <ul class="pagination justify-content-center">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1">First</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                            </li>
                                            {% endif %}

                                            {% for num in page_obj.paginator.page_range %}
                                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>

                                <form method="POST">
                                    {% csrf_token %}
                                    {% for msg in messages %}
                                    <h2>{{ msg }}</h2>
                                    {% endfor %}
                                    <div class="d-flex my-3">
                                        <p class="mb-0 mr-2">Your Rating * :</p>
                                        <div class="text-primary">
                                            <input type="number" name="rating">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Your Message *</label>
                                        <textarea id="message" name="message" cols="30" rows="5"
                                                  class="form-control"></textarea>
                                        {% if form.errors.message %}
                                        <div class="text-danger">{{ form.errors.message }}</div>
                                        {% endif %}
                                    </div>

                                    {% if not request.user.is_authenticated %}
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" name="name" class="form-control" id="name">
                                        {% if form.errors.name %}
                                        <div class="text-danger">{{ form.errors.name }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Your Email *</label>
                                        <input type="email" name="email" class="form-control" id="email">
                                        {% if form.errors.email %}
                                        <div class="text-danger">{{ form.errors.email }}</div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="form-group mb-0">
                                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">You May Also Like</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                {% for product in products %}
                <div class="product-item bg-light">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/product-1.jpg" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">{{ product.title_uz }}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$123.00</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Products End -->


{% endblock  %}

